# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
README.md
RxAndroidCompass.iml
app/.gitignore
app/app.iml
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
build/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
